{{outlet}}
<div class="main-container container-fluid d-flex flex-column align-items-start">
  <div class="header mb-4">
    <h2>daniel jacob archer</h2>
    <h4>^^ a design and technology-driven product maker</h4>
  </div>
  <div class="body mb-auto">
    <div class="mb-4">
      <p>Currently <strong>Product Team Lead / Senior Developer at Hootsuite</strong></p>
    </div>
    <p class="text-muted">Previously</p>
    <div class="mb-2">
      <p><strong>Founding Engineer (CTO) at Naritiv</strong></p>
      <p class="text-muted">Built the most advanced analytics and content solution <br class="hidden-xs-down" />for brands and creators on Snapchat.</p>
    </div>
    <div class="mb-4">
      <p><strong>Technology Course Producer at General Assembly</strong></p>
      <p class="text-muted">Helped students level-up in web development and data science.</p>
    </div>
    <div class="mb-2">
      <p>
        <strong>{{link-out url='https://calendly.com/dja/coffee' text="Let's get coffee →" segment-event='request-cal'}}</strong>
      </p>
    </div>
  </div>
  {{twitter-statuses statuses=model.twitterStatuses class="mt-4"}}
  <div class="footer d-flex flex-wrap justify-content-between align-items-center w-100 mt-4">
    <div class="social-links d-flex flex-wrap">
      {{social-button url='https://twitter.com/dja1o' icon='twitter' segment-event='social-twitter' class='mr-2 mb-2'}}
      {{social-button url='https://instagram.com/dja1o' icon='instagram' segment-event='social-instagram' class='mr-2 mb-2'}}
      {{social-button url='https://medium.com/@dja1o' icon='medium' segment-event='social-medium' class='mr-2 mb-2'}}
      {{social-button url='https://github.com/dja' icon='github' segment-event='social-github' class='mr-2 mb-2'}}
      {{social-button url='https://linkedin.com/in/danieljacobarcher' icon='linkedin' segment-event='social-linkedin' class='mb-2'}}
    </div>
    {{social-foursquare checkIn=model.foursquareCheckins.firstObject}}
  </div>
</div>
